@import "var";
header a{
    margin-left: 63px;
	font-family: var(--main_font);
	font-size: 25px;
	font-weight: var(--reg_font_waigth);
	text-transform: uppercase;
	letter-spacing: 0.63px;
	text-decoration: none;
	color: var(--color_font_orange);
}
.slider__text p{
    margin-top: 20px;
    color: var(--color_font_orange);
    font-family: "Athelas";
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.slider__text p:first-child{
    font-size: 72px;
    color: #fcf9f7;
    font-family: "Baskerville - Regular";
}
.root__menu_top a{
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: var(--main_font);;
	color:#FCFCFC;
	font-size: 20px;
	font-weight:var(--reg_font_waigth) ;
}
.team__title{
    color: var(--color_font_orange);
    font-family: "Athelas";
    font-size: 61px;
    font-weight: var(--reg_font_waigth);
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.team__description{
    text-align: center;
    font-family: Helvetica;
    font-size: 28px;
    font-weight: var(--reg_font_waigth);
    letter-spacing: 0.9px;
}
.item__title{
    text-align: center;
    font-family: Helvetica;
    font-size: 31px;
    letter-spacing: 0.9px;
    line-height: 25.46px;
    font-weight: var(--reg_font_waigth);
}
.item__desc{
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: var(--reg_font_waigth);
    letter-spacing: 0.6px;
}
.counter__digits{
    color: var(--color_font_orange);
    font-family: 'Vani';
    font-size: 77px;
    line-height: 38.37px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.counter__text{
    color: #ffffff;
    font-family: var(--main_font);
    font-size: 26px;
    font-weight: var(--reg_font_waigth);
    letter-spacing: 1px;
    text-transform: uppercase;
}