@import "var";
header a{
    margin-left: 63px;
	font-family: var(--main_font);
	font-size: 25px;
	font-weight: var(--reg_font_waigth);
	text-transform: uppercase;
	letter-spacing: 0.63px;
	text-decoration: none;
	color: var(--color_font_orange);
}
.slider__text p{
    margin-top: 20px;
    color: var(--color_font_orange);
    font-family: "Athelas";
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.slider__text p:first-child{
    font-size: 72px;
    color: #fcf9f7;
    font-family: "Baskerville - Regular";
}
.root__menu_top a{
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: var(--main_font);;
	color:#FCFCFC;
	font-size: 20px;
	font-weight:var(--reg_font_waigth) ;
}
.team__title{
    color: var(--color_font_orange);
    font-family: "Athelas";
    font-size: 61px;
    font-weight: var(--reg_font_waigth);
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.team__description{
    text-align: center;
    font-family: Helvetica;
    font-size: 28px;
    font-weight: var(--reg_font_waigth);
    letter-spacing: 0.9px;
}
.item__title{
    text-align: center;
    font-family: Helvetica;
    font-size: 31px;
    letter-spacing: 0.9px;
    line-height: 25.46px;
    font-weight: var(--reg_font_waigth);
}
.item__desc{
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: var(--reg_font_waigth);
    letter-spacing: 0.6px;
}
.counter__digits{
    color: var(--color_font_orange);
    font-family: 'Vani';
    font-size: 77px;
    line-height: 38.37px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.counter__text{
    color: #ffffff;
    font-family: var(--main_font);
    font-size: 26px;
    font-weight: var(--reg_font_waigth);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.form__title{
color: #ffffff;
font-family: Athelas;
font-size: 66px;
font-weight: 400;
line-height: 131.13px;
text-transform: uppercase;
letter-spacing: 1.2px;
}
.form__title_text{
color: #c0c0c0;
font-family: "Quattrocento Sans";
font-size: 28px;
font-weight: 400;
line-height: 41.41px;
/* Text style for "Sed ut per" */
letter-spacing: 0.5px;
}
.form input{
    font-family: "QuattrocentoSans-Regular";
    font-size: 16pt;
}
.form select{
    font-size: 16pt;
}
.form textarea {
    font-size: 16pt;}
.reg__button{
        font-family: "MyriadProRegular";
        font-size: 16pt;
    }

.root__about .content{
    max-width: 1900px;
}
.about__description{
    font-family: "Quattrocento Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
}
.about__title{
    font-family: Athelas;
    font-size: 48px;
    font-weight: 400;
    line-height: 95px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}
.about__item .item__desc{
    font-family: "Myriad Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.galery__title{
 
    color: #a95e39;
    font-family: Athelas;
    font-size: 72px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    /* Text style for "OUR GALLER" */
    letter-spacing: 1.8px;
}
.galery__desc{
    text-align: center;
    font-family: Athelas;
    font-size: 40px;
    font-weight: var(--reg_font_waigth);
    letter-spacing: 0.9px;
}
.menu__item li:first-child{
    color: #d2d3d7;
    font-family: "Myriad Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 94.82px;
    text-transform: uppercase;

    letter-spacing: 0.6px;
}
.menu__item li a,.menu__item a{
    text-decoration: none;
    color: #d2d3d7;
    font-family: "Myriad Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 40.82px;

    letter-spacing: 0.6px;
}
.copyright__text{
    color: #cdcbcb;
font-family: "Myriad Pro";
font-size: 24px;
font-weight: 400;
line-height: 95px;
letter-spacing: 0.6px;
text-transform: uppercase;

letter-spacing: 0.6px;
}
