@media (min-width: 748px){
    body{
        min-width: 1400px;
    }
    .slider__item_main{
        width: 100%;
    }
}
@media(max-width:1724){
    .team__item{
        width: 1024px;
    }
    .item__img img{
        width: 300px;
        height: 400px;
    }
}

@media(max-width:750px){
    .slider__item_main{
        width: 100%;
    }
    body{
        min-width: 1200px;
    }
    .team__item{
        width: 350px;
    }
    .item__img img{
        width: 450px;
        height: 550px;
        margin-bottom:10px ;
    }
    .team__items-block{
        margin: 80px 0 0 0;
    }
    .team__items-block{
        flex-direction: column;
        align-items: center;
        width: 1000px;
    }
    .item__title{
        margin-bottom: 10px;
        font-size: 40px;
    }
    .item__desc{
        margin: 20px 0 0 0;
        font-size: 30px;
        width: 450px;
    }
    .root__menu_top{
        flex-direction: column;
        height: 700px;
        width: 200px;
    }
    .slider__item_main{
        flex-direction: row;
    }
    .root__menu_top div:first-child{
        margin: 30px 0;
    }
    .root__menu_top div{
        margin: 30px 0;
    }
    .slider__text{
        margin: 0 80px 80px 20%;
    }
    .root__menu_top div:hover{
        display: flex;
	    justify-content: center;
        height: 70px;
        width: 200px;
    }
    .root__about .content {
        max-width: 90%;
        flex-direction: column;
    }
    .galery__desc {
        width: 600px;
    }    
}
@media(max-width:1880px){
    .galery__desc {
        width: 1200px;
    }  
    .root__about .content {
        max-width: 90%;
    }
    .about__img {
        width: 600px;
        height: 500px;
    }
    .about__block {
        margin-top: 0;
        width: 700px;
        height: 524px;
    }
    .about__item .item__img {
        width: 100px;
        height: 100px;
    }
    .about__item .item__desc {
        font-size: 20px;
    }
}
